<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Учетное прикрепление застрахованных на других территориях'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<h4 th:text="${lpu.name}"></h4>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" href="/lpu/ferzl">Поиск
					персоны в ФЕРЗЛ</a></li>
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" href="#">Ввод информации о прикреплении</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/lpu/attach/search">Поиск прикрепленной персоны</a></li>
			<li class="nav-item"><a class="nav-link disabled" href="#">Редактирование
					информации о прикреплении</a></li>
		</ul>
		<form th:method="POST" th:action="@{/lpu/attach}" id="attachForm">
			<input type="hidden" name="rid" th:value="${rid}" /> <input
				type="hidden" name="rgaddr" /><input type="hidden" name="cntnr" /><input
				type="hidden" name="nrdudl" />
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lastName">Фамилия
						</label> <input type="text" th:value="${person.lastName}" id="lastName"
							class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="firstName">Имя
						</label> <input type="text" th:value="${person.firstName}" id="firstName"
							class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="patronymic">Отчество</label>
						<input type="text" th:value="${person.patronymic}" id="patronymic"
							class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="birthDay">Дата
							рождения</label><input type="text"
							th:value="${#temporals.format(person.birthDay, 'dd.MM.yyyy')}"
							id="birthDay" class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="snils">СНИЛС</label>
						<input type="text" th:field="*{formParams.snils}" id="snils"
							class="form-control form-control-sm" th:readonly="${formParams.snils != null}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="pcyOkato">Территория
							страхования</label> <input type="text" id="pcyOkato"
							th:value="${policy.okato != null ? policy.okato.title : ''}"
							class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="pcyType">Тип
							полиса</label> <input type="text" id="policyType"
							th:value="${policy.pcyType != null ? policyTypes.get(policy.pcyType) : ''}"
							class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="policySer">Серия
							полиса</label> <input type="text" th:value="${policy.pcySer}"
							id="policySer" class="form-control form-control-sm" disabled />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="policyNum">Номер
							полиса / ЕНП</label> <input type="text"
							th:value="${policy.enp != null ? policy.enp : policy.pcyNum}"
							id="policyNum" class="form-control form-control-sm" disabled />
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="moName">Прикреплен
							к медицинской организации на момент подачи заявления (наименование)</label> <input 
							th:field="*{formParams.moName}" id="moName" list="moNameOptions"
							class="form-control form-control-sm" />
						<datalist id="moNameOptions">
							<option th:each="moName : ${moNames}" th:value="${moName}">
						</datalist>
					</div>
				</div>
			</div>
			<br/>
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<table class="table table-sm">
						<thead class="table-light">
							<tr class="small">
								<th class="w-75">Фактический адрес МО (выбор из ГАР)</th>
								<th colspan="2" class="w-25">Фильтр</th>
							</tr>
						</thead>
						<tbody>
							<tr class="small">
								<td><select th:field="*{gar.idlev1Mo}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev1Mo')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev1Mo}"
											th:value="${address.id}"
											th:text="${address.name} +' ' + ${address.typename}"
											th:selected="${gar.idlev1Mo}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev1Mo}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev2Mo}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev2Mo')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev2Mo}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev2Mo}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev2Mo}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev3Mo}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev3Mo')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev3Mo}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev3Mo}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev3Mo}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr th:if="${gar.lev4Mo != null}" class="small">
								<td><select th:field="*{gar.idlev4Mo}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev4Mo')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev4Mo}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev4Mo}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev4Mo}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev5Mo}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev5Mo')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev5Mo}"
											th:value="${address.id}"
											th:text="${address.houseNum}+' ' + (${address.addNum1}?${address.addNum1}:'')+' ' + (${address.addNum2}?${address.addNum2}:'')"
											th:selected="${gar.idlev5Mo}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev5Mo}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm">
					<table class="table table-sm caption-top"
						th:if="${contacts.size > 0}">
						<caption class="small">Выбор контактной информации из
							ФЕРЗЛ</caption>
						<thead class="table-light">
							<tr class="small">
								<th>Тип контакта</th>
								<th>Текст контакта</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="small" th:each="contact, iStat : ${contacts}">
								<td th:text="${contact.contactType}"></td>
								<td th:text="${contact.contactText}"></td>
								<td><button th:id="'cnt'+${contact.nr}"
										class="btn btn-sm btn-primary"
										style="--bs-btn-padding-y: .0rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .65rem;"
										type="button" th:onclick="|initContactByNr(${contact.nr})|">Выбрать</button></td>
							<tr />
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<label class="col-form-label col-form-label-sm" for="phone">Телефон</label><input
									type="text" class="form-control form-control-sm"
									th:field="*{formParams.phone}"
									th:classappend="${#fields.hasErrors('formParams.phone')} ? 'is-invalid' : ''" />
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label class="col-form-label col-form-label-sm" for="email">Email</label><input
									type="text" class="form-control form-control-sm"
									th:field="*{formParams.email}"
									th:classappend="${#fields.hasErrors('formParams.email')} ? 'is-invalid' : ''" />
							</div>
						</div>
					</div>
					<table class="table table-sm caption-top"
						th:if="${rgAddresses.size > 0}">
						<caption class="small">Выбор адреса регистрации по дате
							регистрации из ФЕРЗЛ</caption>
						<thead class="table-light">
							<tr class="small">
								<th>Дата регистрации</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="small" th:each="rgaddr, iStat : ${rgAddresses}">
								<td
									th:text="'Регистрация ' + ${rgaddr.addressDateB != null ? #temporals.format(rgaddr.addressDateB,'dd.MM.yyyy') : '???'}"></td>
								<td><button th:id="'rgaddr'+${rgaddr.nr}"
										class="btn btn-sm btn-primary"
										style="--bs-btn-padding-y: .0rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .65rem;"
										type="button" th:onclick="|initGarByRgaddr(${rgaddr.nr})|">Выбрать</button></td>
							<tr />
						</tbody>
					</table>
				</div>
				<div class="col-sm-8">
					<table class="table table-sm caption-top" th:if="${dudls.size > 0}">
						<caption class="small">Выбор ДУдЛ из ФЕРЗЛ</caption>
						<thead class="table-light">
							<tr class="small">
								<th class="w-50">Тип ДУдЛ</th>
								<th>Серия</th>
								<th>Номер</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="small" th:each="dudl, iStat : ${dudls}">
								<td
									th:text="${dudl.dudlType != null ? dudl.dudlType.docName : dudl.dudlTypeStr}"></td>
								<td th:text="${dudl.dudlSer}"></td>
								<td th:text="${dudl.dudlNum}"></td>
								<td><button th:id="'dudl'+${dudl.nr}"
										class="btn btn-sm btn-primary"
										style="--bs-btn-padding-y: .0rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .65rem;"
										type="button" th:onclick="|setDudlByNr(${dudl.nr})|">Выбрать</button></td>
							<tr />
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label class="col-form-label col-form-label-sm" for="dudlType">Тип
									ДУдЛ</label> <select id="dudlType" th:field="*{formParams.dudlType}"
									class="form-select form-select-sm"
									th:classappend="${#fields.hasErrors('formParams.dudlType')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
									<option value=""></option>
									<option th:each="dudlType : ${dudlTypes}"
										th:value="${dudlType.docCode}" th:text="${dudlType.docName}"
										th:selected="${formParams.dudlType}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label class="col-form-label col-form-label-sm" for="dudlSer">Серия
									ДУдЛ</label> <input type="text" th:field="*{formParams.dudlSer}"
									id="dudlSer" class="form-control form-control-sm"
									th:classappend="${#fields.hasErrors('formParams.dudlSer')} ? 'is-invalid' : ''"
									placeholder="серия" />
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<label class="col-form-label col-form-label-sm" for="dudlNum">Номер
									ДУдЛ</label> <input type="text" th:field="*{formParams.dudlNum}"
									id="dudlNum" class="form-control form-control-sm"
									th:classappend="${#fields.hasErrors('formParams.dudlNum')} ? 'is-invalid' : ''"
									placeholder="номер" title="Обязательно к заполнению" />
							</div>
						</div>
					</div>
					<div class="row"
						th:if="${personAge < T(ru.sartfoms.moattach.service.PersonService).MAX_CHILD_AGE}">
						<div class="form-group">
							<label class="col-form-label col-form-label-sm" for="dudlPredst">Документ,
								подтверждающий право законного предстовителя</label>
							<textarea th:field="*{formParams.dudlPredst}" id="dudlPredst"
								class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('formParams.dudlPredst')} ? 'is-invalid' : ''"
								title="Обязательно к заполнению"></textarea>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm">
					<table class="table table-sm">
						<thead class="table-light">
							<tr class="small">
								<th class="w-75">Адрес регистрации (выбор из ГАР)</th>
								<th colspan="2" class="w-25">Фильтр</th>
							</tr>
						</thead>
						<tbody>
							<tr class="small">
								<td><select th:field="*{gar.idlev1Rg}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev1Rg')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev1Rg}"
											th:value="${address.id}"
											th:text="${address.name} +' ' + ${address.typename}"
											th:selected="${gar.idlev1Rg}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev1Rg}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev2Rg}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev2Rg')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev2Rg}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev2Rg}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev2Rg}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev3Rg}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev3Rg')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev3Rg}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev3Rg}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev3Rg}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr th:if="${gar.lev4Rg != null}" class="small">
								<td><select th:field="*{gar.idlev4Rg}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev4Rg')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev4Rg}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev4Rg}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev4Rg}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev5Rg}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev5Rg')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev5Rg}"
											th:value="${address.id}"
											th:text="${address.houseNum}+' ' + (${address.addNum1}?${address.addNum1}:'')+' ' + (${address.addNum2}?${address.addNum2}:'')"
											th:selected="${gar.idlev5Rg}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev5Rg}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<table class="table table-sm">
						<thead class="table-light">
							<tr class="small">
								<th class="w-75">Адрес проживания (выбор из ГАР)</th>
								<th colspan="2" class="w-25">Фильтр</th>
							</tr>
						</thead>
						<tbody>
							<tr class="small">
								<td><select th:field="*{gar.idlev1Pr}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev1Pr')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev1Pr}"
											th:value="${address.id}"
											th:text="${address.name} +' ' + ${address.typename}"
											th:selected="${gar.idlev1Pr}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev1Pr}" 
									class="form-control form-control-sm" readonly /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev2Pr}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev2Pr')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev2Pr}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev2Pr}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev2Pr}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev3Pr}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev3Pr')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev3Pr}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev3Pr}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev3Pr}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr th:if="${gar.lev4Pr != null}" class="small">
								<td><select th:field="*{gar.idlev4Pr}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev4Pr')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev4Pr}"
											th:value="${address.id}"
											th:text="${address.name}+' ' + ${address.typename}"
											th:selected="${gar.idlev4Pr}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev4Pr}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
							<tr class="small">
								<td><select th:field="*{gar.idlev5Pr}"
									class="form-select form-select-sm"
									onchange="this.form.submit()"
									th:classappend="${#fields.hasErrors('gar.idlev5Pr')} ? 'is-invalid' : ''"
									title="Обязательно к заполнению">
										<option value=""></option>
										<option th:each="address : ${gar.lev5Pr}"
											th:value="${address.id}"
											th:text="${address.houseNum}+' ' + (${address.addNum1}?${address.addNum1}:'')+' ' + (${address.addNum2}?${address.addNum2}:'')"
											th:selected="${gar.idlev5Pr}"></option>
								</select></td>
								<td><input type="text" th:field="*{gar.flev5Pr}"
									class="form-control form-control-sm" /></td>
								<td><input type="submit" value="Фильтр"
									class="btn btn-sm btn-light" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lpuSar">Прикрепить
							к медицинской организации / подразделению</label> <select id="lpuSar"
							th:field="*{formParams.lpuId}" class="form-select form-select-sm"
							th:classappend="${#fields.hasErrors('formParams.lpuId')} ? 'is-invalid' : ''"
							title="Обязательно к заполнению" onchange="this.form.submit()">
							<option value=""></option>
							<option th:each="lpu : ${lpus}" th:value="${lpu.id}"
								th:text="${lpu.name}" th:selected="${formParams.lpuId}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lpuUnit">№
							участка</label> <input id="lpuUnit" th:field="*{formParams.lpuUnit}"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('formParams.lpuUnit')} ? 'is-invalid' : ''"
							title="Обязательно к заполнению" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="doctorSnils">ФИО
							врача</label> <select id="doctorSnils"
							th:field="*{formParams.doctorSnils}"
							class="form-select form-select-sm"
							th:classappend="${#fields.hasErrors('formParams.doctorSnils')} ? 'is-invalid' : ''"
							title="Обязательно к заполнению">
							<option value=""></option>
							<option th:each="doctor : ${doctors}" th:value="${doctor.snils}"
								th:text="${doctor.lastName} +' '+${doctor.firstName} + ' '+${doctor.patronymic}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="chiefDoc">«Кому» (Фамилия и инициалы руководителя в дательном падеже)</label> <input type="text"
							th:field="*{formParams.chiefDoc}" id="chiefDoc"
							th:classappend="${#fields.hasErrors('formParams.chiefDoc')} ? 'is-invalid' : ''"
							class="form-control form-control-sm" title="Обязательно к заполнению" />
					</div>
				</div>
				<div class="col-sm-2" th:classappend="${#fields.hasErrors('formParams.effDate')} ">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="effDate">Дата
							прикрепления</label> <input type="date" th:field="*{formParams.effDate}"
							th:max="${T(java.time.LocalDate).now().toString()}" id="effDate" th:min="${T(java.time.LocalDate).now().minusDays(30).toString()}"
							class="form-control form-control-sm" title="Обязательно к заполнению"
							th:classappend="${#fields.hasErrors('formParams.effDate')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="regDate">Дата
							регистр. заявл.</label> <input type="date" th:field="*{formParams.regDate}"
							th:max="${T(java.time.LocalDate).now().toString()}" th:min="${T(java.time.LocalDate).now().minusDays(30).toString()}" id="regDate"
							class="form-control form-control-sm" title="Обязательно к заполнению"
							th:classappend="${#fields.hasErrors('formParams.regDate')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="period">Срок,
							дней</label> <input type="number" min="1" max="366"
							th:field="*{formParams.period}" id="period"
							class="form-control form-control-sm" readonly />
					</div>
				</div>
			</div>
			<div class="badge text-bg-danger"
				th:if="${#fields.hasErrors('formParams')}"
				th:errors="*{formParams}"></div>
			<hr />
			<div class="row">
				<div class="col-sm">
					<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					  Прикрепить
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h1 class="modal-title fs-5" id="staticBackdropLabel">Внимание!</h1>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        После прикрепления вы не сможите выгрузить заявление в Microsoft Word. Продолжить прикрепление?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
					        <input type="submit" value="Да" class="btn btn-sm btn-primary" name="save" />
					      </div>
					    </div>
					  </div>
					</div>
					<input type="submit" value="В Word" class="btn btn-sm btn-secondary"
						name="print"/>&nbsp;<button type="button" class="btn btn-sm btn-secondary"
								onclick="location.href='/lpu/ferzl'">Вернуться к поиску в ФЕРЗЛ</button>
				</div>
			</div>
			<div id="attachModal" class="modal fade" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true"
				th:if="${personAttached}">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Персона прикреплена</h5>
						</div>
						<div class="modal-body">
							<table class="table table-sm">
								<thead class="table-light">
									<tr class="small">
										<th>ФИО</th>
										<th>Дата рожд.</th>
										<th>Номер полиса</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td
											th:text="${attachOtherRegions.lastName + ' ' + attachOtherRegions.firstName + ' ' + attachOtherRegions.patronymic}"></td>
										<td
											th:text="${#temporals.format(attachOtherRegions.birthDay,'dd.MM.yyyy')}"></td>
										<td th:text="${attachOtherRegions.pcyNum}"></td>
									</tr>
								</tbody>
							</table>
							<table class="table table-sm caption-top">
								<caption class="small">
									прикреплен<span th:if="${policy.gender == 2}">а</span>
								</caption>
								<thead class="table-light">
									<tr class="small">
										<th>Мед.организация/подразделение</th>
										<th>№ участка.</th>
										<th>СНИЛС врача</th>
										<th>Период прикрепления</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th:block th:each="lpu : ${lpus}">
											<td
												th:if="${lpu.id.intValue() == attachOtherRegions.lpuId.intValue()}"
												th:text="${lpu.name}"></td>
										</th:block>
										<td th:text="${attachOtherRegions.lpuUnit}"></td>
										<td th:text="${attachOtherRegions.doctorsnils}"></td>
										<td><span
											th:text="${#temporals.format(attachOtherRegions.effDate, 'dd.MM.yyyy')}"></span>
											- <span
											th:text="${attachOtherRegions.expDate != null ? #temporals.format(attachOtherRegions.expDate, 'dd.MM.yyyy') :  #temporals.format(attachOtherRegions.effDate.plusDays(attachOtherRegions.period), 'dd.MM.yyyy')}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-secondary"
								onclick="location.href='/lpu/ferzl'">Вернуться к поиску в ФЕРЗЛ</button>
							<button type="button"
								th:onclick="|goToEdit(${attachOtherRegions.id})|"
								class="btn btn-sm btn-primary">Редактировать</button>
						</div>
					</div>
				</div>
			</div>
			<div id="okatoModal" class="modal fade" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true"
				th:if="${policy.okato != null && policy.okato.code eq '63000'}">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Персона застрахована в Саратовской
								области</h5>
						</div>
						<div class="modal-body">
							<table class="table table-sm">
								<thead class="table-light">
									<tr class="small">
										<th>ФИО</th>
										<th>Дата рожд.</th>
										<th>Номер полиса</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td
											th:text="${person.lastName + ' ' + person.firstName + ' ' + person.patronymic}"></td>
										<td
											th:text="${#temporals.format(person.birthDay,'dd.MM.yyyy')}"></td>
										<td
											th:text="${policy.enp != null ? policy.enp : policy.pcyNum}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-secondary"
								onclick="location.href='/lpu/ferzl'">Вернуться к поиску</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form th:method="POST" th:action="@{/lpu/attach/edit}" id="editForm">
			<input type="hidden" name="attachId">
		</form>
	</div>
	<br />
	<footer class="text-center text-lg-start" th:fragment="footer"
		th:insert="copyright"> </footer>
	<script th:inline="javascript">
		function setDudlByNr(nr) {
			form = document.getElementById('attachForm');
			form.nrdudl.value = nr;
			form.submit();
		}
		function initGarByRgaddr(nr) {
			form = document.getElementById('attachForm');
			form.rgaddr.value = nr;
			form.submit();
		}
		function initContactByNr(nr) {
			form = document.getElementById('attachForm');
			form.cntnr.value = nr;
			form.submit();
		}
		
		var flag1 = /*[[${personAttached}]]*/ false;
		var flag2 = /*[[${policy.okato != null && policy.okato.code eq '63000'}]]*/ false;
		
		if (flag1) {
			window.onload = () => {
				const attachModal = new bootstrap.Modal('#attachModal');
				attachModal.show();
			}
		} else if (flag2) {
			window.onload = () => {
				const okatoModal = new bootstrap.Modal('#okatoModal');
				okatoModal.show();
			}
		}
		function goToEdit(attachId) {
			form = document.getElementById('editForm');
			form.attachId.value = attachId;
			form.submit();
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>