<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Учетное прикрепление застрахованных на других территориях'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<form th:method="POST" th:action="@{/tfoms/attach/search}"
			id="attachForm">
			<input type="hidden" id="page" name="page" />
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="mo">Медицинская
							организация </label> <select id="mo" th:field="*{formParams.moId}"
							class="form-select form-select-sm" onchange="this.form.submit()">
							<option value=""></option>
							<option th:each="lpu : ${mos}" th:value="${lpu.id}"
								th:text="${lpu.name}" th:selected="${formParams.moId}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lpu">Подразделение</label>
						<select id="lpu" onchange="this.form.submit()"
							th:field="*{formParams.lpuId}" class="form-select form-select-sm">
							<option value=""></option>
							<option th:each="lpu : ${lpus}" th:value="${lpu.id}"
								th:text="${lpu.name}" th:selected="${formParams.lpuId}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="lpuUnit" class="col-form-label col-form-label-sm">№
							участка</label> <input th:field="*{formParams.lpuUnit}"
							class="form-control form-control-sm" list="lpuUnitOptions"
							id="lpuUnit" placeholder="Поиск...">
						<datalist id="lpuUnitOptions">
							<option th:each="unit : ${lpuUnits}" th:value="${unit}">
						</datalist>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="doctorSnils">ФИО
							врача</label> <select id="doctorSnils" onchange="this.form.submit()"
							th:field="*{formParams.doctorSnils}"
							class="form-select form-select-sm">
							<option value=""></option>
							<option th:each="doctor : ${doctors}" th:value="${doctor.snils}"
								th:text="${doctor.lastName} +' '+${doctor.firstName} + ' '+${doctor.patronymic}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="effDate">Дата
							прикрепления с</label><input type="date" id="effDate"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('formParams.effDate')} ? 'is-invalid' : ''"
							th:field="${formParams.effDate}" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="expDate">по</label>
						<input type="date" id="expDate"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('formParams.expDate')} ? 'is-invalid' : ''"
							th:field="${formParams.expDate}" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lastName">Фамилия
						</label> <input type="text" th:field="*{formParams.lastName}"
							id="lastName" class="form-control form-control-sm"
							placeholder="фамилия" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="firstName">Имя
						</label> <input type="text" th:field="*{formParams.firstName}"
							id="firstName" class="form-control form-control-sm"
							placeholder="имя" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="patronymic">Отчество</label>
						<input type="text" th:field="*{formParams.patronymic}"
							id="patronymic" class="form-control form-control-sm"
							placeholder="отчество" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="birthDay">Дата
							рождения</label><input type="date" th:field="*{formParams.birthDay}"
							id="birthDay" class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('formParams.birthDay')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="policyNum">Номер
							полиса / ЕНП</label> <input type="text"
							th:field="*{formParams.policyNum}" id="policyNum"
							class="form-control form-control-sm" placeholder="номер" />
					</div>
				</div>
			</div>
			<hr />
			<div class="row justify-content-between">
				<div class="col-sm">
					<input type="submit" value="Поиск" class="btn btn-sm btn-primary"
						name="search" />&nbsp;<input type="button" value="Очистить"
						onclick="location.href='/tfoms/attach/search'"
						class="btn btn-sm btn-secondary" />&nbsp; <input type="submit"
						value="В Excel" class="btn btn-sm btn-primary" name="excel" />
				</div>
				<div class="col-sm-2 align-self-center">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch"
							th:field="*{formParams.historical}"
							th:checked="${formParams.historical}" id="historical"> <label
							class="form-check-label" for="historical">искать в
							истории</label>
					</div>
				</div>
			</div>
			<div th:if="${dataPage != null && dataPage.content.size  > 0}">
				<hr />
				<table class="table table-sm table-hover">
					<thead class="table-dark">
						<tr class="small">
							<th>Дата прикрепл.</th>
							<th>Дата открепл.</th>
							<th>ФИО</th>
							<th>Дата рождения</th>
							<th>Номер полиса</th>
							<th>Контракт до</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="persData, iStat : ${dataPage.content}"
							th:onclick="|location.href='/tfoms/attach/search/word?attachId=' + ${persData.id}|"
							title="Скачать заявление" class='clickable-row small'
							style="cursor: pointer;">
							<td
								th:text="${#temporals.format(persData.effDate, 'dd.MM.yyyy')}" />
							<td
								th:text="${#temporals.format(persData.expDate, 'dd.MM.yyyy')}" />
							<td
								th:text="${persData.lastName + ' ' + persData.firstName + ' ' + persData.patronymic}" />
							<td
								th:text="${#temporals.format(persData.birthDay, 'dd.MM.yyyy')}" />
							<td th:text="${persData.pcyNum}" />
							<td
								th:text="${#temporals.format(persData.contract, 'dd.MM.yyyy')}" />
						</tr>
					</tbody>
				</table>
				<nav aria-label="Pagination" th:if="${dataPage.totalPages gt 0}">
					<ul
						class="pagination pagination-sm justify-content-center font-weight-medium">
						<li class="page-item"
							th:classappend="${dataPage.number eq 0} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${dataPage.number eq 0} ? 'disabled'"
								th:onclick="|goToPage(${dataPage.number lt 2 ? 1 : dataPage.number})|">
								<p>&#60;&#60;
								<p>
							</button>
						</li>
						<li class="page-item"
							th:classappend="${i eq dataPage.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence(dataPage.totalPages > dataPage.number + 10 ? dataPage.number + 1 : dataPage.totalPages - 10 > 0 ? dataPage.totalPages - 10 : 1, dataPage.totalPages > 10 + dataPage.number ? dataPage.number + 10 : dataPage.totalPages, 1)}">
							<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
							th:text="${i}"><span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item disabled"
							th:if="${dataPage.number + 10 < dataPage.totalPages}"><a
							class="page-link" href="#"> ... </a></li>
						<li class="page-item"
							th:classappend="${dataPage.number + 1 eq dataPage.totalPages} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${dataPage.number + 1 eq dataPage.totalPages} ? 'disabled'"
								th:onclick="|goToPage(${dataPage.number + 2})|">
								<p>&#62;&#62;
								<p>
							</button>
						</li>
					</ul>
				</nav>
			</div>
		</form>
	</div>
	<footer class="text-center text-lg-start" th:fragment="footer"
		th:insert="copyright"> </footer>
	<script th:inline="javascript">
		function goToPage(page) {
			document.getElementById("attachForm").page.value = page;
			document.getElementById("attachForm").submit();
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>